<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add CryptoCurrency</title>
</head>

<body>

    <form action="/api/addCryptoCurrency" method="post">
        <label for="cryptoType">Crypto Type</label>
        <input name="cryptoType" type="text">
        <label for="quantity">Quantity</label>
        <input name="quantity" type="number">

        <button>Submit</button>
    </form>
</body>

</html>

